##Resume_Intake_API configuration
QDRANT_URL=https://f3cfbb37-1047-4e03-973e-0c4826d804ac.us-east-1-0.aws.cloud.qdrant.io
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.RFOrbVkp4Do3C0tnuHj5aR_kzG5DidLHHKLteb0G024
QDRANT_COLLECTION_NAME=RW_Resumes
VECTOR_SIZE=1536
OPENAI_API_KEY=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
SUPABASE_URL=https://dgmerpfdrhbbttdgwnkb.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRnbWVycGZkcmhiYnR0ZGd3bmtiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA2MDkyMzcsImV4cCI6MjA3NjE4NTIzN30.EqUH03s3ySqlD76GXBGdw4uLYGwJrQ3D6lnKMvhpYs0
SUPABASE_TABLE=auto_apply_cand
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRnbWVycGZkcmhiYnR0ZGd3bmtiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA2MDkyMzcsImV4cCI6MjA3NjE4NTIzN30.EqUH03s3ySqlD76GXBGdw4uLYGwJrQ3D6lnKMvhpYs0

#Recommmendations api configuration 
# Database Configuration
DB_SERVER=50.19.204.188
DB_DATABASE=HealthWorks
DB_USERNAME=Bhuvanesh
DB_PASSWORD=World@2025#321
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_TRUST_SERVER_CERTIFICATE=yes
DB_ENCRYPT=yes

# Connection Pool Configuration
DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20
DB_POOL_TIMEOUT=30

# Cache Configuration
CACHE_TTL=300

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000

##Get requirementdetails api configuration 
REQUIREMENT_DETAILS_DB_SERVER=3.20.77.176
REQUIREMENT_DETAILS_DB_NAME=TalentArbor
REQUIREMENT_DETAILS_DB_USER=pideveloper
REQUIREMENT_DETAILS_DB_PASSWORD="Ra$02#Pi2025"
REQUIREMENT_DETAILS_DB_DRIVER={ODBC Driver 18 for SQL Server}
REQUIREMENT_DETAILS_DB_POOL_SIZE=20
REQUIREMENT_DETAILS_RATE_LIMIT=100/minute

#out reach agent configuration 
MODEL=gpt-4o-mini
OPENAI_API_KEY=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
SENDGRID_API_KEY=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
SENDGRID_FROM_EMAIL=bhuvannaidu2524@gmail.com
SENDGRID_REPLY_TO_EMAIL=bhuvannaidu2524@gmail.com

SUPABASE_URL=https://dgmerpfdrhbbttdgwnkb.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRnbWVycGZkcmhiYnR0ZGd3bmtiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA2MDkyMzcsImV4cCI6MjA3NjE4NTIzN30.EqUH03s3ySqlD76GXBGdw4uLYGwJrQ3D6lnKMvhpYs0

TWILIO_ACCOUNT_SID=SKd34ec446db8b6f1681f7a64e33ca0fa0
TWILIO_AUTH_TOKEN=VzDpAV9YDhq0wScoMMuA6lbn3MQoRofI
TWILIO_PHONE_NUMBER=‪+12764000085‬

WEBHOOK_SECRET=yugreugjbbjbgufuykwkhihugw8123

MAX_CONCURRENT_TASKS=50

##Candidate-Sync API configuration
SQL_SERVER_HOST=50.19.204.188
SQL_SERVER_DATABASE=HealthWorks
SQL_SERVER_USER=Bhuvanesh
SQL_SERVER_PASSWORD=World@2025#321
SQL_SERVER_PORT=1433
SQL_SERVER_DRIVER=ODBC Driver 18 for SQL Server

##Apply webhook configuration
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlvdXItcHJvamVjdC1pZCIsInJvbGUiOiJzZXJ2aWNlX3JvbGUiLCJpYXQiOjE2NDUxMjM0NTYsImV4cCI6MTk2MDcwOTQ1Nn0.your-service-role-key-here
SUPABASE_TABLE=auto_apply_cand
SQL_SERVER_HOST=your-server.database.windows.net
SQL_SERVER_DATABASE=your_database
SQL_SERVER_USER=your_username
SQL_SERVER_PASSWORD=your_password
SQL_SERVER_PORT=1433
SQL_SERVER_DRIVER=ODBC Driver 18 for SQL Server

# Optional: Connection pool settings
SQL_SERVER_POOL_MIN=5
SQL_SERVER_POOL_MAX=20
LOG_LEVEL=INFO

#Manual apply api configuration(same as webhook apply)
##Apply webhook configuration
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlvdXItcHJvamVjdC1pZCIsInJvbGUiOiJzZXJ2aWNlX3JvbGUiLCJpYXQiOjE2NDUxMjM0NTYsImV4cCI6MTk2MDcwOTQ1Nn0.your-service-role-key-here
SUPABASE_TABLE=auto_apply_cand
SQL_SERVER_HOST=your-server.database.windows.net
SQL_SERVER_DATABASE=your_database
SQL_SERVER_USER=your_username
SQL_SERVER_PASSWORD=your_password
SQL_SERVER_PORT=1433
SQL_SERVER_DRIVER=ODBC Driver 18 for SQL Server

# Optional: Connection pool settings
SQL_SERVER_POOL_MIN=5
SQL_SERVER_POOL_MAX=20
LOG_LEVEL=INFO